body { background-color: #E6E6E6; margin-top:0; margin-bottom:0; }
form { margin: 0; padding: 0; }
.Frame { background-color: #E6E6E6; border: 1px solid #CCC }
body.FileArea { background-color: #ffffff; margin: 10px; }
body, td, input, select { font-size: 11px; font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana; }
.ActualFolder { font-weight: bold; font-size: 14px; }
.PopupButtons { border-top: #666 1px solid; background-color: #E6E6E6; padding: 7px 10px 7px 10px; }
.Button, button { color: #3b3b1f; border: 1px solid #666; background-color: #CCC; }
.FolderListCurrentFolder img { background-image: url(images/folder_full.png); }
.FolderListFolder img { background-image: url(images/folder.png); cursor: pointer; }
.fullHeight { height: 100%; }
